.App {
  text-align: center;
}


.mainSection{
background-image: url('./images/tray-integrate-data_2x.png');
background-repeat: no-repeat;
text-align: center;
/* making sure the height of the form is always the height of the available space */
min-height: calc(100vh - 120px);
display: flex;
justify-content: flex-end;
}

.formSection{
  width: 50%;
  background: rgb(255, 255, 255);
  min-height: 100%;
}
.logo{
 width: 150px;
}

.logo img{
  max-width: 100%;
}
.checkBoxes{
  width: 50%;
  margin: auto;
  text-align: left;
  
}

.main{
min-height: 100vh;
}

.header{
  background: rgb(170, 174, 127);
  min-height: 60px;
display: flex;
justify-content: space-around;

}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
    background: rgb(170, 174, 127);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .formSection{
  width: 90%;
  padding-top: 40px;
  min-height: 80%;
  margin: auto;
  border: none;
  /* background: rgba(170, 174, 127, 0.897); */
  background: rgba(255, 255, 255, 0.829);
  }

  .mainSection{
background-position: center;
} 

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 992px){
   .formSection{
  width: 70%;
  min-height: 100%;
  background:  rgba(255, 255, 255, 0.829);
  margin: auto;
  border: 2px solid rgb(170, 174, 127);
  }
    .mainSection{
background-position: center;
}
 
} 