/* The header of the application */
.header{
background: rgb(170, 174, 127);
min-height: 60px;
display: flex;
justify-content: space-around;
}

.logo{
 width: 150px;
}

/* The main bloc of the page */
.main{
min-height: 100vh;
}

.App {
  text-align: center;
}

.mainSection{
background-image: url('./images/tray-integrate-data_2x.png');
background-repeat: no-repeat;
text-align: center;
/* making sure the height of the form is always the height of the available space */
min-height: calc(100vh - 120px);
display: flex;
justify-content: flex-end;
}

/* The section of the form */
.formSection{
  width: 50%;
  background: rgb(255, 255, 255);
  min-height: 80%;
  padding: 70px 0;
}

.asterisk{
  color: red;
}

.userImg{
  width: 200px;
  margin: auto;
  padding: 20px;
}

.logo img{
  max-width: 100%;
}

.checkBoxes{
  width: 90%;
  margin: auto;
  text-align: left;
}

.checkBoxes article{
margin: 10% 5%;
line-height: 30px;
}

input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(170, 174, 127);
}

.inputFields{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60%;
  margin: 5% auto;
}

/* Error message */
.errorMessage{
  position: absolute;
  width: 60%;
  height: 30%;
  /* border: 2px solid red; */
  background: rgb(170, 174, 127);
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  left: 20%;
  top: 35%;
}

.btnClose{
  position: absolute;
  bottom: 5%;
  background: rgba(255, 0, 0, 0.603);
  border: none;
  /* padding: 1rem; */
  width: 4rem;
  font-size: 2rem;
  color: white;
}

.btnClose:hover{
  background: red;
}

.errorBoxDisappear{
  display: none;
}

/* Style of the two buttons */
.btn-back{
  background: white;
  border: 2px solid;
}

.btn{
  padding: 10px;
  min-width: 100px;
  margin: 0 10px;
  background: rgb(170, 174, 127);
  border: none;
  border-radius: 5px;
  border: 2px solid rgb(170, 174, 127);
  
}

.btn-back{
  background: white;
  border: 2px solid rgba(170, 174, 127, 0.52);
}
.btn:hover{
  background: green;
  color: white;
}

/* Style of the successful submit page  */
.verifyText{
  width: 80%;
  margin: auto;
  margin-top: 10%;
  color: rgb(170, 174, 127);
  font-weight: bold;
  font-size: 30px;
}

/* The footer of the app */
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
    background: rgb(170, 174, 127);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .formSection{
  width: 90%;
  padding-top: 40px;
  min-height: 80%;
  margin: auto;
  border: none;
  background: rgba(255, 255, 255, 0.829);
  }

  .mainSection{
background-position: center;
} 

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 992px){
   .formSection{
  width: 70%;
  min-height: 100%;
  background:  rgba(255, 255, 255, 0.829);
  margin: auto;
  border: 2px solid rgb(170, 174, 127);
  padding: 10px;
  }
    .mainSection{
background-position: center;
}


} 